
body {
    font-family: Arial;
    color: black;
    
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: -100;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
    background-color: white;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .font {
      font-size: 60px;
      font-weight: bold;
  }
  .fontSmall{
    font-size: 30px; font-weight: bold;
  }
  .homeKayıt{
    background-color: #1DA1F2; border-radius: 12px; height: 50px; width: 400px; color:white
  }
  .homeGiris{
    background-color: white;  border-radius: 12px; height: 50px; width: 400px; color:#1DA1F2
  }

  .generalButton{
    background-color: #1DA1F2; border-radius: 12px; height: 40px; width: 80px; color:white
  }
  .textarea-container { 
    position: relative; 
  } 
  .textarea-container textarea { 
    width: 500px; 
    height: 100px; 
    box-sizing: border-box; 
  } 
  .textarea-container button { 
    position: absolute; 
    top: 0; 
    right: 0; 
  }
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 10%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}